<div class="container-fluid">
  <h1 class="ls-title-intro ls-ico-star">Editar Serviço</h1>

  <%= form_for @service, class: 'ls-form row' do |f| %>
    <label class="ls-label col-md-4">
      <b class="ls-label-text">Titulo</b>
      <%= f.text_field :title, placeholder: 'Título do serviço' %>
    </label>

    <label class="ls-label col-md-4">
      <b class="ls-label-text">Descrição</b>
      <%= f.text_area :description %>
    </label>

    <label class="ls-label col-md-2">
      <b class="ls-label-text">Duração</b>
      <%= f.text_field :duration, required: true %>
    </label>

    <label class="ls-label col-md-2">
      <b class="ls-label-text">Valor</b>
      <div class="ls-prefix-group">
        <span class="ls-label-text-prefix">R$</span>
        <%= f.text_field :price, class: 'ls-mask-money', placeholder: 0, required: true %>
      </div>
    </label>

    <div class="ls-label col-md-4">
      <b class="ls-label-text">Serviços Relacionados</b>
      <br>
      <% Service.all.each do |s| %>
          <label class="ls-label-text ls-no-bold">
            <%= check_box_tag "service[related_service_ids][]", s.id, @service.related_services.include?(s) %>
            <%= s.title %>
          </label>
      <% end %>
    </div>

    <label class="ls-label col-md-4">
      <%= f.submit 'Salvar', class: 'ls-btn-primary ls-float-right' %>
    </label>
  <% end %>
</div>
