<aside class="ls-sidebar">

  <div class="ls-sidebar-inner">
    <a href="/locawebstyle/documentacao/exemplos//pre-painel"  class="ls-go-prev"><span class="ls-text">Voltar à lista de serviços</span></a>

    <nav class="ls-menu">
      <ul>

        <li>
          <%= link_to 'Cronograma', '#', class: 'ls-ico-calendar' %>
          <ul>
            <li>
              <%= link_to 'Vizualizar', schedules_path %>
            </li>
            <li>
              <%= link_to 'Incluir Atividade', new_schedule_path %>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="ls-ico-star" title="Serviços">Serviços</a>
          <ul>
            <li>
              <%= link_to 'Lista de serviços', services_path %>
            </li>
            <li>
              <%= link_to 'Cadastrar serviços', new_service_path %>
            </li>
          </ul>
        </li>

        <li>
          <%= link_to 'Configurações', settings_path, class: 'ls-ico-cog' %>
        </li>
      </ul>
    </nav>
  </div>
</aside>
